@import "styles/utils";

$field-height: 80px;
$field-height-mobil: 60px;

.field {
  @include field(
    $min-height: $field-height,
    $min-height-mobil: $field-height-mobil,
    $padding: 12px 16px,
  );

  resize: vertical;
}
