{
  "extends": [
    "react-app",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/space-before-blocks": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-unused-vars": ["warn", { "varsIgnorePattern": "_" }],
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": { "delimiter": "none" },
      "singleline": { "delimiter": "comma" }
    }],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variable",
        "format": ["camelCase", "PascalCase", "UPPER_CASE"],
        "leadingUnderscore": "allow"
      },
      {
        "selector": "function",
        "format": ["camelCase", "PascalCase"]
      },
      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      }
    ],
    "react/function-component-definition": "off",
    "react/button-has-type": "off",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/sort-comp": "off",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react-hooks/rules-of-hooks": "error",
    "react/state-in-constructor": ["error", "never"],
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "jsx-a11y/label-has-for": ["error", {
      "components": ["Label"],
      "required": {
        "some": ["id", "nesting"]
      },
      "allowChildren": true
    }],
    "jsx-a11y/img-redundant-alt": "off",
    "import/prefer-default-export": "off",
    "import/no-dynamic-require": "off",
    "import/extensions": "off",
    "import/order": ["error", {
      "groups": [
        "builtin",
        "external",
        "internal",
        ["parent", "sibling"],
        "index"
      ],
      "newlines-between": "ignore"
    }],
    "standard/no-callback-literal": "off",
    "no-underscore-dangle": "off",
    "no-useless-constructor": "off",
    "global-require": "off",
    "max-classes-per-file": "off",
    "default-case": "off",
    "no-shadow": "off",
    "camelcase": "off",
    "arrow-body-style": "off",
    "no-console": "warn",
    "prefer-const": "error",
    "curly": ["error", "all"],
    "no-redeclare": ["error", { "builtinGlobals": true }],
    "operator-linebreak": ["error", "before"],
    "brace-style": ["error", "1tbs"],
    "no-param-reassign": ["error", { "props": true }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
      { "blankLine": "always", "prev": "directive", "next": "*" },
      { "blankLine": "always", "prev": "block-like", "next": "*" }
    ],
    "max-len": ["error", 80, {
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true,
      "ignoreComments": true
    }],
    "arrow-parens": ["error", "always"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-use-before-define": ["error", { "functions": false }]
  }
}
