@import "styles/utils";

.button {
  @extend %t-inter-16-normal;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;

  border: 1px solid #40444f;
  border-radius: 12px;
  background: $c-line;

  &:hover {
    border: 1px solid $c-blue-primary;
  }

  &:active,
  &:focus {
    box-shadow: $c-blue-primary 0px 0px 0px 1px;
  }
}
