@import "styles/utils";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: 152px;
  padding-bottom: 36px;
}

.title {
  @extend %t-inter-20-normal;
}
