@import "styles/utils";

.container {
  display: flex;
  justify-content: center;
}

.card {
  @extend %card;

  padding: 28px 38px 48px;
}

.title {
  @extend %t-plex-20-normal;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  padding-bottom: 28px;
  margin-bottom: 20px;

  border-bottom: 1px solid $c-line;
}

.formWrapper {
  width: 600px;

  margin: 0 auto;
}
