@import "reset";
@import "utils";

html {
  @extend %t-inter-16-normal;

  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: #23262f;

  color: $c-text-primary;

  overflow-x: hidden;
}

#background-radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  width: 200vw;
  height: 200vh;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #54606633 0,
    #ffffff00 100%
  );
  transform: translate(-50vw, -100vh);
  pointer-events: none;
}
