@import "~@fontsource/inter/400.css";
@import "~@fontsource/ibm-plex-mono/400.css";
// TODO: add fonts via html

@import "reset";
@import "utils";

html {
  @extend %t-inter-16-normal;

  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: #23262f;

  color: $c-text-primary;

  overflow-x: hidden;
}
