@import 'styles/utils';

.button {
  padding: 2px;

  border-radius: 12px;
  background: $c-background-primary;

  &:hover {
    .title {
      border-color: #353841;
    }
  }
}

.title {
  @extend %t-inter-16-normal;

  display: flex;
  align-items: center;

  height: 36px;
  padding: 0 14px;

  border: 1px solid $c-gray;
  border-radius: 10px;

  background: $c-gray;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
