@import "styles/utils";

$input-height: 44px;
$input-height-mobil: 40px;

$text-below-height: 20px;
$text-below-height-mobil: 16px;

$height: $input-height + $text-below-height;
$height-mobil: $input-height-mobil + $text-below-height-mobil;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: $height;

  @include breakpoint(medium, down) {
    height: $height-mobil;
  }
}

.input {
  @extend %t-inter-16-normal;

  height: $input-height;
  padding: 0 16px;

  border: 2px solid transparent;
  background: #3e3e3e;

  border-radius: 12px;

  outline: none;

  @include breakpoint(medium, down) {
    height: $input-height-mobil;

    font-size: 14px;
    line-height: 20px;
  }

  &::placeholder {
    color: #b2b2b2;
  }

  &:hover,
  &:focus {
    box-shadow: #0000000d 0px 2px 10px;
    transition:
      box-shadow 0.25s ease-in-out 0s,
      border-color 0.25s ease-in-out 0s;
    border-color: #8a939b;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &.error {
    border-color: #eb5757;
  }
}

.textBelow {
  @extend %t-inter-16-normal;

  display: flex;
  align-items: flex-end;

  height: $text-below-height;

  color: #b2b2b2;
  line-height: 14px;
  white-space: nowrap;

  @include breakpoint(medium, down) {
    height: $text-below-height-mobil;

    font-size: 12px;
    line-height: 12px;
  }

  &.error {
    color: #eb5757;
  }
}
