@import "styles/utils";

$field-height: 44px;
$field-height-mobil: 40px;

.field {
  @include field(
    $min-height: $field-height,
    $min-height-mobil: $field-height-mobil,
    $padding: 0 16px,
  );
}
