$c-text-primary: #ebebeb;
$c-text-secondary: #b2b2b2;
$c-background-primary: #191b1f;
$c-background-field: #3e3e3e;
$c-border-field: #8a939b;
$c-line: #2c2f36;
$c-error: #eb5757;
$c-blue-primary: #2172e5;
$c-blue-dark: #1b2940;
$c-blue: #1d3454;
$c-blue-light: #304b73;
$c-gray: #212429;
