@import 'styles/utils';

.button {
  padding: 2px;

  border-radius: 12px;
  background: $c-background-primary;

  &:hover {
    .title {
      color: #3982e7;
      border-color: $c-blue-light;
    }
  }
}

.title {
  @extend %t-inter-16-normal;

  display: flex;
  align-items: center;

  height: 36px;
  padding: 0 14px;

  border: 1px solid $c-blue;
  border-radius: 10px;

  color: #5090ea;
  background: $c-blue-dark;
}
