@import 'styles/utils';

.button {
  border: 2px solid #191b1f;
  border-radius: 16px;

  background: #191b1f;

  &:hover {
    .title {
      color: #3982e7;
      border-color: #315f9a70;
    }
  }
}

.title {
  @extend %t-inter-16-normal;

  display: flex;
  align-items: center;

  height: 36px;
  padding: 0 14px;

  border: 1px solid #153d6f70;
  border-radius: 14px;

  color: #5090ea;
  background: #153d6f70;
}
