%t-inter-normal {
  font-family: $font-inter-sans;
  font-weight: $font-weight_normal;
}

%t-plex-normal {
  font-family: $font-plex-sans;
  font-weight: $font-weight_normal;
}

%t-inter-13-normal {
  @extend %t-inter-normal;
  font-size: 13px;
}

%t-inter-15-normal {
  @extend %t-inter-normal;
  font-size: 15px;
  line-height: 25px;
}

%t-inter-16-normal {
  @extend %t-inter-normal;
  font-size: 16px;
  line-height: 26px;
}

%t-inter-18-normal {
  @extend %t-inter-normal;
  font-size: 18px;
  line-height: 22px;
}

%t-plex-12-normal {
  @extend %t-plex-normal;
  font-size: 12px;
  line-height: 17px;
}

%t-plex-20-normal {
  @extend %t-plex-normal;
  font-size: 20px;
  line-height: 28px;
}

%t-plex-24-normal {
  @extend %t-plex-normal;
  font-size: 24px;
  line-height: 32px;
}





// %t-roboto-normal {
//   font-family: $font-roboto-sans;
//   font-weight: $font-weight_normal;
// }

// %t-roboto-medium {
//   font-family: $font-roboto-sans;
//   font-weight: $font-weight_medium;
// }

// %t-roboto-bold {
//   font-family: $font-roboto-sans;
//   font-weight: $font-weight_bold;
// }

// %t-poppins-normal {
//   font-family: $font-poppins-sans;
//   font-weight: $font-weight_medium;
// }

// %t-poppins-14-normal {
//   @extend %t-poppins-normal;
//   font-size: 14px;
//   line-height: 21px;
// }

// %t-poppins-30-normal {
//   @extend %t-poppins-normal;
//   font-size: 30px;
//   line-height: 34px;
// }

// %t-roboto-20-bold {
//   @extend %t-roboto-bold;
//   font-size: 20px;
//   line-height: 20px;
// }

// %t-roboto-28-bold {
//   @extend %t-roboto-bold;
//   font-size: 28px;
//   line-height: 28px;
// }

// %t-roboto-42-medium {
//   @extend %t-roboto-medium;
//   font-size: 42px;
//   line-height: 42px;
// }

// %t-roboto-30-medium {
//   @extend %t-roboto-medium;
//   font-size: 30px;
//   line-height: 34px;
// }

// %t-roboto-24-medium {
//   @extend %t-roboto-medium;
//   font-size: 24px;
//   line-height: 32px;
// }

// %t-roboto-20-medium {
//   @extend %t-roboto-medium;
//   font-size: 20px;
//   line-height: 26px;
// }

// %t-roboto-16-medium {
//   @extend %t-roboto-medium;
//   font-size: 16px;
//   line-height: 26px;
// }

// %t-roboto-20-normal {
//   @extend %t-roboto-normal;
//   font-size: 20px;
//   line-height: 20px;
// }

// %t-roboto-28-normal {
//   @extend %t-roboto-normal;
//   font-size: 28px;
//   line-height: 28px;
// }

// %t-roboto-35-normal {
//   @extend %t-roboto-normal;
//   font-size: 35px;
//   line-height: 41px;
// }

// %t-roboto-14-normal {
//   @extend %t-roboto-normal;
//   font-size: 14px;
//   line-height: 22px;
// }

// %t-roboto-12-normal {
//   @extend %t-roboto-normal;
//   font-size: 12px;
//   line-height: 16px;
// }

// %t-roboto-10-normal {
//   @extend %t-roboto-normal;
//   font-size: 10px;
//   line-height: 14px;
// }

// %t-roboto-16-normal {
//   @extend %t-roboto-normal;
//   font-size: 16px;
//   line-height: 26px;
// }

// %t-roboto-16-normal-underline {
//   @extend %t-roboto-16-normal;
//   text-decoration: underline;
// }

// %t-roboto-18-normal {
//   @extend %t-roboto-normal;
//   font-size: 18px;
//   line-height: 20px;
// }

// %t-roboto-18-normal-upper {
//   @extend %t-roboto-18-normal;
//   text-transform: uppercase;
// }

// %t-roboto-16-light {
//   @extend %t-roboto-light;
//   font-size: 16px;
//   line-height: 26px;
// }
