%t-inter-normal {
  font-family: $font-inter-sans;
  font-weight: $font-weight_normal;
}

%t-plex-normal {
  font-family: $font-plex-sans;
  font-weight: $font-weight_normal;
}

%t-inter-13-normal {
  @extend %t-inter-normal;
  font-size: 13px;
}

%t-inter-14-normal {
  @extend %t-inter-normal;
  font-size: 14px;
  line-height: 17px;
}

%t-inter-15-normal {
  @extend %t-inter-normal;
  font-size: 15px;
  line-height: 25px;
}

%t-inter-16-normal {
  @extend %t-inter-normal;
  font-size: 16px;
  line-height: 26px;
}

%t-inter-18-normal {
  @extend %t-inter-normal;
  font-size: 18px;
  line-height: 22px;
}

%t-inter-20-normal {
  @extend %t-inter-normal;
  font-size: 20px;
  line-height: 24px;
}

%t-plex-12-normal {
  @extend %t-plex-normal;
  font-size: 12px;
  line-height: 17px;
}

%t-plex-20-normal {
  @extend %t-plex-normal;
  font-size: 20px;
  line-height: 28px;
}

%t-plex-24-normal {
  @extend %t-plex-normal;
  font-size: 24px;
  line-height: 32px;
}
