@import "styles/utils";

.portal {
  position: relative;
  z-index: 100;
}

.overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #0000006c;
}

.modal {
  position: relative;
}

.bodyOpen {
  overflow: hidden
}

.closeBtn {
  position: absolute;
  right: 16px;
  top: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  .closeIcon {
    width: 14px;
    height: 14px;
  }
}

